<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body class="
      @(IsSectionDefined("Header") ? "with-header" : "")
      @(IsSectionDefined("Aside") ? "with-aside" : "")">
    @if (IsSectionDefined("Header"))
    {
        <header>
            @RenderSection("Header", required: false)
        </header>
    }
    @if (IsSectionDefined("Aside"))
    {
        <aside>
            @RenderSection("Aside", required: false)
        </aside>
    }
    <main class="flexbox-center">
        @RenderBody()
    </main>
    <footer>
        @RenderSection("Footer", required: false)
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
